<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>sign up</title>
</head>
<body>
<h1>Sign Up</h1> <hr>

<form th:action="@{/signup_check}" method="POST">
  Id : <input type="text" name="receivedId"> <br>
  Password : <input type="password" name="receivedPassword"> <br>
  <input type="radio" name="receivedAuth" value="ROLE_ADMIN, ROLE_USER"checked="checked"> admin
  <input type="radio" name="receivedAuth" value="ROLE_USER" checked="checked"> user <br>
  <button type="submit">Join</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>